.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraformrc
node_modules/
dist/
.env
.DS_Store
.vscode/
.idea/
./gitops-manifests/bootstrap/manifests/repo-credentials.yaml
README.md